.main-body{
    padding: 20px 30px;
}
.btn{
    padding: 10px;
    width: 80px;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    margin-right: 10px;
    font-size: 0.9rem ;
    
}
.add-btn{
    background-color: green;
    color: white;
}